streamlit
python-dotenv
streamlit-option-menu
streamlit-chat
websocket-client
cryptography
setuptools-rust
streamlit-webrtc
numpy
pydub
soundfile
opencv-python
sounddevice
speechrecognition
pyttsx3
PyAudio
streamlit_supabase_auth
fpdf2
